

//variables
$piros: red;



a {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
    
    &.piros {
        color: $piros;
    }
    
    
}


a[href="/myurl"] {
    font-weight: bold;
}


///// ez, ha a gyerekre vonatkozik /////

div .piros {  
    
}

// forditasa scss/ben:

div {
    .piros {
        
    }
}


////// ez, ha magára a node-ra ////////

div.piros {  
    
}


// forditasa scss/ben:

div {
    &.piros {   /// kell az & jel
        
    }
}



/*

Terminal scss css forditashoz

cd assets


*/