a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.piros {
    color: red; }

a[href="/myurl"] {
  font-weight: bold; }

/*

Terminal scss css forditashoz

cd assets


*/

/*# sourceMappingURL=style.css.map */
